<div class="container content-container expense-container">

    <div class="row wide-row page-header" style="min-width: 436px;">
        <h2 class="page-title">Expenses</h2>
        <div class="page-links">
            <span class="form-group filter">
                <label>From:</label>
                <input type="text" class="form-control text" maxlength="150" ng-model="filter.fromDate"
                        uib-datepicker-popup="yyyy-MM-dd" is-open="isFilterFromDatePickerOpen" show-weeks="false"
                        ng-click="filterDatePickerOpen($event, 'from')" ng-required="true">
            </span>
            <span class="form-group filter">
                <label>To:</label>
                <input type="text" class="form-control text" maxlength="150" ng-model="filter.toDate"
                        uib-datepicker-popup="yyyy-MM-dd" is-open="isFilterToDatePickerOpen" show-weeks="false"
                        ng-click="filterDatePickerOpen($event, 'to')" ng-required="true">
            </span>
            <span class="form-group filter">
                <label>Category:</label>
                <select class="form-control" ng-model="filter.categoryId">
                    <option value="-1">All Categories</option>
                    <option ng-repeat="cat in categories" value="{{cat._id}}">{{cat.name}}</option>
                </select>
                <button type="button" class="btn btn-sm btn-default" ng-click="filterExpenses()">Go</button>
            </span>
            <span class="form-group add-wrapper">
                <button type="button" class="btn btn-sm btn-primary glyphicon glyphicon-plus" ng-click="addExpense()"></button>
            </span>
        </div>
    </div>

    <form name="expenseForm" novalidate>

        <table class="table table-bordered table-hover table-condensed table-responsive table-striped basic-table expense-data">
            <thead>
                <tr>
                <th>
                    <a tabindex="0" ng-click="sortExpenses('trxDate')" role="button">Date</a>
                    <span class="sort-button-wrapper">
                        <button ng-if="sort.property === 'trxDate' && sort.direction === 'ascending'" class="glyphicon glyphicon-triangle-top sort-button" ng-click="sortExpenses('trxDate')"/>
                        <button ng-if="sort.property === 'trxDate' && sort.direction === 'descending'" class="glyphicon glyphicon-triangle-bottom sort-button" ng-click="sortExpenses('trxDate')"/>
                    </span>
                </th>
                <th>
                    <a tabindex="0" ng-click="sortExpenses('category', 'name')" role="button">Category</a>
                    <span class="sort-button-wrapper">
                        <button ng-if="sort.property === 'category' && sort.direction === 'ascending'" class="glyphicon glyphicon-triangle-top sort-button" ng-click="sortExpenses('category', 'name')"/>
                        <button ng-if="sort.property === 'category' && sort.direction === 'descending'" class="glyphicon glyphicon-triangle-bottom sort-button" ng-click="sortExpenses('category', 'name')"/>
                    </span>
                </th>
                <th>
                    <a tabindex="0" ng-click="sortExpenses('subcategory')" role="button">Subcategory</a>
                    <span class="sort-button-wrapper">
                        <button ng-if="sort.property === 'subcategory' && sort.direction === 'ascending'" class="glyphicon glyphicon-triangle-top sort-button" ng-click="sortExpenses('subcategory', 'name')"/>
                        <button ng-if="sort.property === 'subcategory' && sort.direction === 'descending'" class="glyphicon glyphicon-triangle-bottom sort-button" ng-click="sortExpenses('subcategory', 'name')"/>
                    </span>
                </th>
                <th>
                    <a tabindex="0" ng-click="sortExpenses('amount')" role="button">Amount</a>
                    <span class="sort-button-wrapper">
                        <button ng-if="sort.property === 'amount' && sort.direction === 'ascending'" class="glyphicon glyphicon-triangle-top sort-button" ng-click="sortExpenses('amount')"/>
                        <button ng-if="sort.property === 'amount' && sort.direction === 'descending'" class="glyphicon glyphicon-triangle-bottom sort-button" ng-click="sortExpenses('amount')"/>
                    </span>
                </th>
                <th class="row-commands"></th>
                </tr>
            </thead>
            <tbody>

                <tr class="expense-row" ng-repeat="expense in filteredExpenses" ng-switch on="expense.mode">
                    <!-- View mode -->
                    <td class="expense-view expense-date" ng-switch-default>
                        {{expense.trxDate | date:'yyyy-MM-dd'}}
                    </td>
                    <td class="expense-view" ng-switch-default>
                        {{expense.category.name}}
                    </td>
                    <td class="expense-view" ng-switch-default>
                        {{expense.subcategory}}
                    </td>
                    <td class="expense-view" ng-switch-default>
                        {{expense.amount | currency}}
                    </td>
                    <td class="expense-view view-controls row-commands" ng-switch-default>
                        <button class="btn btn-sm btn-primary btn-table glyphicon glyphicon-pencil" ng-click="editExpense(expense)"></button>
                        <button class="btn btn-sm btn-default btn-table glyphicon glyphicon-remove"
                                mwl-confirm title="Delete Confirmation" message="Are you sure you want to delete the expense?" on-confirm="deleteExpense(expense)"></button>
                    </td>

                    <!-- Edit mode -->
                    <td class="expense-edit" ng-switch-when="edit">
                        <input name="trxDate" type="text" class="form-control" maxlength="300" ng-model="expense.trxDate"
                            uib-datepicker-popup="yyyy-MM-dd" is-open="expense.isDatePickerOpen" show-weeks="false"
                            ng-click="datePickerOpen($event, expense)" required>
                        <p ng-show="expenseForm.trxDate.$invalid && expenseForm.trxDate.$touched" class="error-msg">
                            Trx Date is required
                        </p>
                    </td>
                    <td class="expense-edit" ng-switch-when="edit">
                        <select name="category" class="form-control" ng-model="expense.selectedCategory" ng-options="cat.name for cat in categories" ng-change="categorySelected(expense.selectedCategory)" required>
                            <option value=""></option>
                        </select>
                        <p ng-show="expenseForm.category.$invalid && expenseForm.category.$touched" class="error-msg">
                            Category is required
                        </p>
                    </td>
                    <td class="expense-edit" ng-switch-when="edit">
                        <span class="nullable">
                            <select name="subcategory" class="form-control" ng-model="expense.selectedSubcategory" ng-options="subcat.name for subcat in expense.selectedCategory.subcategories" required>
                                <option value=""></option>
                            </select>
                            <p ng-show="expenseForm.subcategory.$invalid && expenseForm.subcategory.$touched" class="error-msg">
                                Subcategory is required
                            </p>
                        </span>
                    </td>
                    <td class="expense-edit" ng-switch-when="edit">
                        <input name="amount" type="number" class="form-control"  maxlength="300" ng-model="expense.amount" required focus="focusCategoryInput">
                        <p ng-show="expenseForm.amount.$invalid && expenseForm.amount.$touched" class="error-msg">
                                Amount is required
                            </p>
                    </td>
                    <td class="edit-controls row-commands" ng-switch-when="edit">
                        <button class="btn btn-default btn-sm btn-primary btn-table" type="button" ng-click="saveExpense(expense)">Save</button>
                        <button class="btn btn-default btn-sm btn-table" type="button" ng-click="cancelExpense(expense)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </form>

</div>